[submodule "submodules/libtirpc"]
	path = submodules/libtirpc
	url = https://github.com/alisw/libtirpc
[submodule "submodules/cuda-gdb"]
	path = submodules/cuda-gdb
	url = https://github.com/NVIDIA/cuda-gdb
